body,
input,
select,
body * {
	font-family: 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}
body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
body *::after,
body *::before {
	box-sizing: border-box;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	/* min-height: 100%; */
	/* margin: 0; */
	padding: 0 0 1rem;
	background-image: linear-gradient(to bottom, #d2e0e7, #a4b8c4);
	background-image: -webkit-linear-gradient(top, #d2e0e7, #a4b8c4);
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	/* background-size: cover; */
}

h1 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 2rem;
	text-align: center;
	margin: 20px 0;
}

h2 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 1rem;
	text-align: left;
	margin: 20px 0;
}

.container {
	position: relative;
	max-width: 45rem;
	margin: 5rem auto;
	padding: 3rem 5rem 0;
	background: #fff;
	width: 100%;
	border-radius: 2rem;
}

.container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow:
		0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12),
		0 5px 5px -3px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	-webkit-transition: -webkit-transform 0.28s ease-in-out;
	transition: -webkit-transform 0.28s ease-in-out;
	transition: transform 0.28s ease-in-out;
	transition:
		transform 0.28s ease-in-out,
		-webkit-transform 0.28s ease-in-out;
	z-index: -1;
	border-radius: 2rem;
}
.container:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.button-container {
	text-align: center;
}

.form-group {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}

.form-group input {
	height: 1.9rem;
}
.form-group select {
	width: 100%;
	font-size: 1rem;
	height: 1.6rem;
	padding: 0.125rem 0.125rem 0.0625rem;
	background: none;
	border: none;
	line-height: 1.6;
	box-shadow: none;
}
.form-group .control-label {
	position: absolute;
	top: 0.25rem;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	color: #b3b3b3;
	font-size: 1rem;
	font-weight: normal;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
}
.form-group .bar {
	position: relative;
	border-bottom: 0.0625rem solid #999;
	display: block;
}
.form-group .bar::before {
	content: '';
	height: 0.125rem;
	width: 0;
	left: 50%;
	bottom: -0.0625rem;
	position: absolute;
	background: #337ab7;
	-webkit-transition:
		left 0.28s ease,
		width 0.28s ease;
	transition:
		left 0.28s ease,
		width 0.28s ease;
	z-index: 2;
}
.form-group input {
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	font-size: 1rem;
	border-width: 0;
	border-color: transparent;
	line-height: 1.9;
	width: 100%;
	color: transparent;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
	box-shadow: none;
}
.form-group select,
.form-group input:focus,
.form-group input:valid {
	color: #333;
}
.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label {
	font-size: 0.8rem;
	color: gray;
	top: -1rem;
	left: 0;
}
.form-group select:focus,
.form-group input:focus {
	outline: none;
}
.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label {
	color: #337ab7;
}
.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before {
	width: 100%;
	left: 0;
}

.button {
	position: relative;
	background: currentColor;
	border: 1px solid currentColor;
	border-radius: 0.5rem;
	font-size: 1.1rem;
	color: #89485c;
	margin: 1rem 0;
	padding: 0.75rem 3rem;
	cursor: pointer;
	-webkit-transition:
		background-color 0.28s ease,
		color 0.28s ease,
		box-shadow 0.28s ease;
	transition:
		background-color 0.28s ease,
		color 0.28s ease,
		box-shadow 0.28s ease;
	overflow: hidden;
	box-shadow:
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.2),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.button span {
	color: #fff;
	position: relative;
	z-index: 1;
}
.button::before {
	content: '';
	position: absolute;
	width: 30vh;
	height: 30vh;
	border-radius: 50%;
	display: block;
	top: 50%;
	left: 50%;
	z-index: 0;
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
}
.button:hover {
	box-shadow:
		0 6px 10px 0 rgba(0, 0, 0, 0.14),
		0 1px 18px 0 rgba(0, 0, 0, 0.12),
		0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.button:active::before,
.button:focus::before {
	-webkit-transition:
		opacity 0.28s ease 0.364s,
		-webkit-transform 1.12s ease;
	transition:
		opacity 0.28s ease 0.364s,
		-webkit-transform 1.12s ease;
	transition:
		transform 1.12s ease,
		opacity 0.28s ease 0.364s;
	transition:
		transform 1.12s ease,
		opacity 0.28s ease 0.364s,
		-webkit-transform 1.12s ease;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	opacity: 0;
}
.button:focus {
	outline: none;
}

.imprint {
	text-align: center;
	padding-bottom: 2rem;
	font-size: smaller;
}

a {
	color: #1d4567;
}

a:visited {
	color: #000 !important;
	text-decoration: none;
}

#irtom-logo {
	display: block;
	margin: 0 auto;
	max-width: 40%;
}

#input-birthday {
	padding: 0.25rem;
	margin: 0.25rem;
	border: #999 0.0625rem solid;
	border-radius: 0.25rem;
}
